body {
    background-color: #393E46;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #1d1c1e;
  border-radius: 1rem;
  min-width: 350px;
  width: 50%;
  max-width: 500px;
  min-height: 700px;


}

h1 {
  color: #EEEEEE;
  text-align: center;
}

h4 {
    color: #00ADB5;
    text-align: center;
}

p {
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 11px;
  color: #FFB703
  }
